@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #262626;
  font-family: "Quicksand", sans-serif;
}
.skewedBox {
  background-color: #edff57;
  padding: 100px 0;
  transform: skew(0deg, -10deg) translateY(-150px);
}

.container {
  padding: 150px 200px;
  transform: skew(0deg, 10deg);
}

.container h1 {
  padding: 20px 0;
  font-size: 3em;
}

.container p {
  width: 80%;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

.sect2 {
  color: #fff;
  padding: 0 200px 150px;
  text-align: right;
}
